#Virtual environment 
.venv

#Python compiled bytecode
*.pyc
*__pycache__

#Environment variables
.env*

#Log files
*.log

#Misc files
src/backend/app/scraper/test.py
src/backend/app/scraper/duplicates.py
src/backend/app/scraper/import_from_csv.py
src/backend/app/scraper/test_functions.py
